@using AjaxUpload.Utils
@using System.Collections.Generic

@model List<ApplicationImageInfo>
@{
    ViewBag.Title = "Ajax Upload";
}

@section styles{
    <link rel="stylesheet" href="~/Content/advancedTest.css" />
    <link rel="stylesheet" href="~/Content/main.css" />
}

<h2>ViewBag.Title</h2>

<div class="container">
    @Model.Count;

    <div id="js_drop_field" class="drop_field">
        <p>add new photos</p>
    </div>

    <div id="js_list_photo" class="list_photo">
        @foreach (ApplicationImageInfo item in Model)
        {
            <img src="@item.ThumbnailPath" alt="thumbnail" />
        }
    </div>

    <div class="old">
        <input type="file" name="upload" id="uploadFile" multiple /><br />
        <button id="submit">Download</button>
        <br />
        <br />
        <div id="dropbox"></div>
        <progress id="progress" max="100" value="0">
            loading...
        </progress>
        <div id="preview"></div>
    </div>

    @*<div id="js_load_field" class="load_field">
            <div class="progress_bar">
                <div class="progerss"></div>
            </div>
        </div>

        <div id="js_big_photo" class="big_photo">
            <img src="05.jpg">
        </div>*@
</div>






@*<div class="steps">
        <button id="step_1">1</button>
        <button id="step_2">2</button>
        <button id="step_3">3</button>
        <button id="step_4">4</button>
    </div>*@








@section scripts{
    @*<script src="~/Scripts/My/script.js"></script>*@

    <script>
        var dropbox = document.getElementById("dropbox");
        var preview = document.getElementById("preview");
        var progress = document.getElementById("progress");
        var button = document.getElementById("submit");

        var allFiles = null;

        dropbox = document.getElementById("dropbox");
        dropbox.addEventListener("dragenter", dragenter, false);
        dropbox.addEventListener("dragover", dragover, false);
        dropbox.addEventListener("drop", drop, false);

        button.onclick = addEventListener("click", click, false);

        function dragenter(e) {
            e.stopPropagation();
            e.preventDefault();
        }

        function dragover(e) {
            e.stopPropagation();
            e.preventDefault();
        }

        function drop(e) {
            e.stopPropagation();
            e.preventDefault();

            var dt = e.dataTransfer;
            var files = dt.files;

            handleFiles(files);
            allFiles = files;
            //send(files);
        }

        function click(e) {
            send(allFiles);
        }

        function handleFiles(files) {
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /^image\//;

                if (!imageType.test(file.type)) {
                    continue;
                }

                var img = document.createElement("img");
                img.classList.add("obj");
                img.file = file;
                preview.appendChild(img); // Assuming that "preview" is the div output where the content will be displayed.

                var reader = new FileReader();
                reader.onload = (function (aImg) { return function (e) { aImg.src = e.target.result; }; })(img);
                reader.readAsDataURL(file);
            }
        }

        function send(files) {
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();

                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", '@Url.Action("Upload", "Home")');
                    xhr.send(data);

                    xhr.upload.addEventListener("progress", function (e) {
                        if (e.lengthComputable) {
                            var percentage = Math.round((e.loaded * 100) / e.total);
                            progress.value = percentage;
                        }

                    }, false);

                } else {
                    alert("Browser doesn't suppor HTML5 file loading!");
                }
            }
        }
    </script>
}